<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/mysite/static/armario-visu.css">
    <title>Visualização</title>
</head>
<body>
    <header>
        <img class="logo" src="/mysite/static/img/logo.svg">
        <h1>UNIKEY</h1>
        <nav>
            <a class="user" href="/mysite/templates/perfil.html">PERFIL</a>
        </nav>
    </header>
    <div class="divisao">
        <nav>
            <div class="home">
                <a class="nav-pic-logo" href="/mysite/templates/home.html">
                    <img src="/mysite/static/img/logo-home.svg">
                    <p>Home</p>
                </a>
            </div>
            <div class="novo-cadastro">
                <a class="nav-pic" href="/mysite/templates/cadastros.html">
                    <img src="/mysite/static/img/adicionar-usuario.png">
                    <p>Cadastrar</p>
                </a>
            </div>
            <div class="armarios">
                <a class="nav-pic" href="/mysite/templates/armarios.html">
                    <img src="/mysite/static/img/armarios (1).png">
                    <p>Armários</p>
                </a>
            </div>
        </nav>
    
        <section>     
            <h2>ARMÁRIO</h2>
            <form action="/">
                    <label for="/">E-mail</label>
                    <input type="text" class="input-nome">
                    <label for="/">Nome</label>
                    <input type="text" class="input-nome">
                    <div class="form-group">
                        <div class="group-1">
                            <label for="usuario">Telefone</label>
                            <input type="text" class="input-outros">
                        </div>
                        <div class="group-2">
                            <label for="usuario">Matricula</label>
                            <input type="text" class="input-outros">
                        </div>
                        <div class="group-3">
                            <label for="usuario">Tipo Usuário</label>
                            <select name="usuario" id="usuario">
                                <option value="aluno">Aluno</option>
                                <option value="professor">Professor</option>
                                <option value="visitante">Visitante</option>
                            </select>
                        </div>
                        
                    </div>
            </form>
            <button class="but-cancelar">CANCELAR ALUGUEL</button>
    
        </section>
    </div>
</body>
</html>