<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="../static/armarios.css">
    <title>Armarios</title>
</head>
<body>
    <header>
        <img class="logo" src="../static/img/logo.svg">
        <h1>UNIKEY</h1>
        <nav>
            <a class="user" href="../templates/perfil.html">PERFIL</a>
        </nav>
    </header>
    <div class="divisao">
        <nav>
            <div class="home">
                <a class="nav-pic-logo" href="../templates/home.html">
                    <img src="../static/img/logo-home.svg">
                    <p>Home</p>
                </a>
            </div>
            <div class="novo-cadastro">
                <a class="nav-pic" href="../templates/cadastros.html">
                    <img src="../static/img/adicionar-usuario.png">
                    <p>Cadastrar</p>
                </a>
            </div>
            <div class="armarios">
                <a class="nav-pic" href="../templates/armarios.html">
                    <img src="../static/img/armarios (1).png">
                    <p>Armários</p>
                </a>
            </div>
        </nav>
        <section>
            <h2>ARMÁRIOS</h2>
            <div class="grade-armarios">
                <a href="../templates/cadastrados.html"><button class="botoes">1</button></a>
                <a><button class="botoes">2</button></a>
                <a><button class="botoes">3</button></a>
                <a><button class="botoes">4</button></a>
                <a><button class="botoes">5</button></a>
                <a><button class="botoes">6</button></a>
                <a><button class="botoes">7</button></a>
                <a><button class="botoes">8</button></a>
                <a><button class="botoes">9</button></a>
                <a><button class="botoes">10</button></a>
                <a><button class="botoes">11</button></a>
                <a><button class="botoes">12</button></a>
                <a><button class="botoes">13</button></a>
                <a><button class="botoes">14</button></a>
                <a><button class="botoes">15</button></a>
                <a><button class="botoes">16</button></a>
                <a><button class="botoes">17</button></a>
                <a><button class="botoes">18</button></a>
                <a><button class="botoes">19</button></a>
                <a><button class="botoes">20</button></a>
                <a><button class="botoes">21</button></a>
                <a><button class="botoes">22</button></a>
                <a><button class="botoes">23</button></a>
                <a><button class="botoes">24</button></a>
                <a><button class="botoes">25</button></a>
                <a><button class="botoes">26</button></a>
                <a><button class="botoes">27</button></a>
                <a><button class="botoes">28</button></a>
                <a><button class="botoes">29</button></a>
                <a><button class="botoes">30</button></a>
                <a><button class="botoes">31</button></a>
                <a><button class="botoes">32</button></a>
                <a><button class="botoes">33</button></a>
                <a><button class="botoes">34</button></a>
                <a><button class="botoes">35</button></a>
                <a><button class="botoes">36</button></a>
                <a><button class="botoes">37</button></a>
                <a><button class="botoes">38</button></a>
                <a><button class="botoes">39</button></a>
                <a><button class="botoes">40</button></a>
                <a><button class="botoes">41</button></a>
                <a><button class="botoes">42</button></a>
                <a><button class="botoes">43</button></a>
                <a><button class="botoes">44</button></a>
                <a><button class="botoes">45</button></a>
                <a><button class="botoes">46</button></a>
                <a><button class="botoes">47</button></a>
                <a><button class="botoes">48</button></a>
                <a><button class="botoes">49</button></a>
                <a><button class="botoes">50</button></a>
                <a><button class="botoes">51</button></a>
                <a><button class="botoes">52</button></a>
                <a><button class="botoes">53</button></a>
                <a><button class="botoes">54</button></a>
                <a><button class="botoes">55</button></a>
                <a><button class="botoes">56</button></a>
                <a><button class="botoes">57</button></a>
                <a><button class="botoes">58</button></a>
                <a><button class="botoes">59</button></a>
                <a><button class="botoes">60</button></a>
                <a><button class="botoes">61</button></a>
                <a><button class="botoes">62</button></a>
                <a><button class="botoes">63</button></a>
                <a><button class="botoes">64</button></a>
                <a><button class="botoes">65</button></a>
                <a><button class="botoes">66</button></a>
                <a><button class="botoes">67</button></a>
                <a><button class="botoes">68</button></a>
                <a><button class="botoes">69</button></a>
                <a><button class="botoes">70</button></a>
                <a><button class="botoes">71</button></a>
                <a><button class="botoes">72</button></a>
                <a><button class="botoes">73</button></a>
                <a><button class="botoes">74</button></a>
                <a><button class="botoes">75</button></a>
                <a><button class="botoes">76</button></a>

                <input type="radio" class="botoes">
                
            </div>
            <button type="button" class="butao">ESCOLHER</button>
        </section>
    </div>
    </body>
</html>