<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/cadastrados.css">
    <title>Cadastrados</title>
</head>
<body>
    <header>
        <img class="logo" src="../static/img/logo-home.svg">
        <h1>UNIKEY</h1>
        <nav>
            <a class="user" action="/perfil" href="../templates/perfil.html">PERFIL</a>
        </nav>
    </header>
    <div class="divisao">
        <nav>
            <div class="home">
                <a class="nav-pic-logo" action="/" href="../templates/home.html">
                    <img src="../static/img/logo-home.svg">
                    <p>Home</p>
                </a>
            </div>
            <div class="novo-cadastro">
                <a class="nav-pic" action="/cadastrados" href="../templates/cadastros.html">
                    <img src="../static/img/adicionar-usuario.png">
                    <p>Cadastrar</p>
                </a>
            </div>
            <div class="armarios">
                <a class="nav-pic" action="/armarios" href="../templates/armarios.html">
                    <img src="../static/img/armarios (1).png">
                    <p>Armários</p>
                </a>
            </div>
        </nav>
        <main>
            <h2>CADASTRADOS</h2>
            <section>
                <input type="search" placeholder="Pesquisar">
                <div class="titulos">
                    <h3>Nome</h3>
                    <h3>E-mail</h3>
                    <h3>Matricula</h3>
                    <h3>Telefone</h3>
                </div>
                <div class="cadastrados">
                    <p>Nome</p>
                    <p>email</p>
                    <p>matricula</p>
                    <p>telefone</p>
                </div> 
                <div class="cadastrados">
                    <p>Nome</p>
                    <p>email</p>
                    <p>matricula</p>
                    <p>telefone</p>
                </div>  
                <div class="cadastrados">
                    <p>Nome</p>
                    <p>email</p>
                    <p>matricula</p>
                    <p>telefone</p>
                </div>  
                <div class="cadastrados">
                    <p>Nome</p>
                    <p>email</p>
                    <p>matricula</p>
                    <p>telefone</p>
                </div>  
            </section>
            <div class="botoes">
                <a href="../templates/cadastros.html" action="/cadastros">NOVO CADASTRO</a>
                <button type="button">ALUGAR</button>
            </div>
            
        </main>
    </div>

</body>
</html>
