<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/cadastros.css">
    <title>Cadastros</title>
</head>
<body>
    <header>
        <img class="logo" src="../static/img/logo.svg">
        <h1>UNIKEY</h1>
        <nav>
            <a class="user" href="/perfil">PERFIL</a>
        </nav>
    </header>
    <div class="divisao">
        <nav>
            <div class="home">
                <a class="nav-pic-logo" href="/home">
                    <img src="../static/img/logo-home.svg">
                    <p>Home</p>
                </a>
            </div>
            <div class="novo-cadastro">
                <a class="nav-pic" href="/cadastros">
                    <img src="../static/img/adicionar-usuario.png">
                    <p>Cadastrar</p>
                </a>
            </div>
            <div class="armarios">
                <a class="nav-pic" href="/armarios">
                    <img src="../static/img/armarios (1).png">
                    <p>Armários</p>
                </a>
            </div>
        </nav>
        <section>
            
            <h2>CADASTRO DE PESSOA</h2>
            <form action="/" method="post">
                <div class="caixa-um">
                    <label for="/">Nome</label>
                <input name="nomePessoa" id="nomePessoa" type="text">
                <label for="/">Nº de Matricula</label>
                <input name="NumMatricula" id="numMatricula" type="text">
                <label for="usuario">Usuário</label>
                <select name="usuario" id="usuario">
                    <option name="aluno" id="aluno" value="aluno">Aluno</option>
                    <option name="professor" id="professor" value="professor">Professor</option>
                    <option name="visitante" id="visitante" value="visitante">Visitante</option>
                </select>
                </div>
                <div class="caixa-dois">
                    <label for="/">Endereço de E-mail</label>
                <input name="emailPessoa" id="emailPessoa" type="email">
                <label for="/">Telefone</label>
                <input name="telPessoa" id="telPessoa" type="tel">
                </div>
                
            </form>
            <button type="submit" id="cadastrarPessoa">CADASTRAR</button>
            
        </section>
    </div>
    <script type="module" src="../static/img/index.html"></script>
    <script src="../static/cadastros.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.15.0/firebase-app.js"></script>
</body>
</html>