<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <title>Home</title>
</head>
<body>
    <header>
        <img class="logo" src="../static/img/logo.svg">
        <h1>UNIKEY</h1>
        <nav>
            <a class="user" href="../templates/perfil.html">PERFIL</a>
        </nav>
    </header>
    <div class="divisao">
        <nav>
            <div class="home">
                <a class="nav-pic-logo" action="/" href="../templates/home.html">
                    <img src="../static/img/logo-home.svg">
                    <p>Home</p>
                </a>
            </div>
            <div class="novo-cadastro">
                <a class="nav-pic" action="cadastros" href="../templates/cadastros.html">
                    <img src="../static/img/adicionar-usuario.png">
                    <p>Cadastrar</p>
                </a>
            </div>
            <div class="armarios">
                <a class="nav-pic" action="armarios" href="../templates/armarios.html">
                    <img src="../static/img/armarios (1).png">
                    <p>Armários</p>
                </a>
            </div>
        </nav>
        <section>
            <h2>FUNCIONALIDADES</h2>
            <div class="funcionalidades">
                <div class="novo-cadastro-1">
                    <a class="img-cadastro" action="/cadastros" href="../templates/cadastros.html">
                        <img src="../static/img/adicionar-usuario.png">
                        <p>Novo Cadastro</p>
                    </a>
                </div>
                <div class="cadastros">
                    <a class="img-cadastros" action="/cadastrados" href="../templates/cadastrados.html">
                        <img src="../static/img/search.png">
                        <p>Cadastros</p>
                    </a>
                </div>
                <div class="armarios-1">
                    <a class="img-armarios" action="armarios" href="../templates/armarios.html">
                        <img src="../static/img/armarios (1).png">
                        <p>Armários</p>
                    </a>
                </div>
            </div>
        </section>
    </div>
    <script type="text/javascript" src="../static/img/index.html"></script>
    </body>
</html>