<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/perfil.css">
    <title>Perfil</title>
</head>
<body>
    <header>
        <img class="logo" src="../static/img/logo.svg">
        <h1>UNIKEY</h1>
        <nav>
            <a class="user">PERFIL</a>
        </nav>
    </header>
    <div class="divisao">
        <nav>
            <div class="home">
                <a class="nav-pic-logo" href="/home">
                    <img src="../static/img/logo-home.svg">
                    <p>Home</p>
                </a>
            </div>
            <div class="novo-cadastro">
                <a class="nav-pic" href="/cadastros">
                    <img src="../static/img/adicionar-usuario.png">
                    <p>Cadastrar</p>
                </a>
            </div>
            <div class="armarios">
                <a class="nav-pic" href="/armarios">
                    <img src="../static/img/armarios (1).png">
                    <p>Armários</p>
                </a>
            </div>
        </nav>
    
        <section>     
            <h2>PERFIL</h2>
            <form action="/" method="">
                    <label for="/">Login</label>
                    <input type="text" class="input-login">
                    <label for="/">Senha</label>
                    <input type="text" class="input-senha">
                    <button class="but-senha">Nova Senha</button>
                    <label for="usuario">Nova Senha</label>
                    <input type="text" class="input-newsenha">

            </form>
        <div class="botoes">
            <button class="but-salvar">SALVAR</button>
            <button class="but-sair">SAIR</button>
        </div>
        
        </section>
    </div>
</body>
</html>