<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/login-register.css">
    <title>Registro</title>
</head>
<body class="body">
    <div class="container">
     
            <div class="logo">
                <img id="imgLogo" src="../static/img/logo.svg" alt="">
                <h1 class="textLogo">UNIKEY</h1>
            </div>

            <div class="center">
                <img class="imgLogo" src="../static/img/logo.svg" alt="">  

                <input class="input" type="text" placeholder="Login"/>
                <input class="input" type="text" placeholder="Senha"/>
                <input class="input" type="text" placeholder="Confirmar Senha"/>
             
                <button action="/home" class="button">CADASTRAR ADMINISTRADOR</button>
            </div>
      
    </div>
    
</body>
</html>