<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Home</title>
</head>
<body>
    <header>
        <img class="logo" src="/img/logo.svg">
        <h1>UNIKEY</h1>
        <nav>
            <a class="user" href="#">PERFIL</a>
            <a class="config" href="#">CONFIG</a>
        </nav>
    </header>
    <div class="divisao">
        <nav>
            <div class="home">
                <a class="nav-pic-logo" href="/html/home.html">
                    <img src="/img/logo-home.svg">
                    <p>Home</p>
                </a>
            </div>
            <div class="novo-cadastro">
                <a class="nav-pic" href="/html/cadastros.html">
                    <img src="/img/adicionar-usuario.png">
                    <p>Cadastrar</p>
                </a>
            </div>
            <div class="armarios">
                <a class="nav-pic" href="/html/armarios.html">
                    <img src="/img/armarios (1).png">
                    <p>Armários</p>
                </a>
            </div>
        </nav>
        <section>
            <h2>FUNCIONALIDADES</h2>
            <div class="funcionalidades">
                <div class="novo-cadastro-1">
                    <a class="img-cadastro" href="/html/cadastros.html">
                        <img src="/img/adicionar-usuario.png">
                        <p>Novo Cadastro</p>
                    </a>
                </div>
                <div class="cadastros">
                    <a class="img-cadastros" href="/html/cadastrados.html">
                        <img src="/img/search.png">
                        <p>Cadastros</p>
                    </a>
                </div>
                <div class="armarios-1">
                    <a class="img-armarios" href="/html/armarios.html">
                        <img src="/img/armarios (1).png">
                        <p>Armários</p>
                    </a>
                </div>
            </div>
        </section>
    </div>
    </body>
</html>